body{
    margin: 0;
}
.header{
    background-color:#f0f2f5;
    width: 100%;
    height: 713px;
}
.logo{
    width: auto;
    height: 106px;
    
}
.content{
    font-size: 30px;
    margin: 0;
    padding-left: 30px;
}
.hbox1{
    padding-top: 170px;
    padding-left: 240px;
    float: left;
    display: block;
}
.hbox2{
    width: 394px;
    height: 365px;
    background-color: rgb(255, 255, 255);
    float: left;
    margin-top: 129px;
    margin-left: 77px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(200, 197, 197);
    text-align: center;
    display: block;
}
input{
    width: 90%;
    height: 49px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgb(225, 225, 225);
    margin-top: 5%;
}
input::placeholder{
    font-size: 15px;
    opacity: 80%;
    padding-left: 20px;
}
input:focus{
    border: 1px solid blue; 
}

.login_button {
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #1877f2;
    padding: 10px 40% 10px 40%;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 14px;
  }
  
  .login_button:hover {
    background: #1298eb;
    text-decoration: none;
  }
  .forgot_text{
    text-decoration: none;
    color: #5599f6;
  }
  .forgot_text:hover{
    text-decoration: underline;
  }
  hr{
    width: 90%;
    height: 1px;
    border: none;
    background-color: rgb(164, 152, 152);
    opacity: 50%;
    margin-top: 18px;
  }
  .hr{
    text-align: center;
  }
  .signup_button {
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: #42b72a;
    padding: 15px 16px 15px 16px;
    text-decoration: none;
    border: none;
    margin-top: 15px;
  }
  
  .signup_button:hover {
    background: #44b304;
    text-decoration: none;
  }
  .celebrity{
    padding-left: 862px;
    padding-top: 500px;
    display: block;
  }
  .celebrity_text{
    text-decoration: none;
    color: black;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .footer{
    width: 100%;
    height: 10px;
    text-align: center;
    padding-top: 100px;
  }